.page__background {
  height: 100%;
  width: 100%;
  background-image: url("https://uploads-ssl.webflow.com/61a08842191af40097b65a21/61c4612673a8221494145048_noise.png");
  opacity: 0.54;
}

.block--border-bold {
  border-bottom: 2px solid #000000;
}
